:root {
        --ic-brand-primary-darkened-5: #0F0F6B;
--ic-brand-primary-darkened-10: #0E0E65;
--ic-brand-primary-darkened-15: #0D0D60;
--ic-brand-primary-lightened-5: #1B1B77;
--ic-brand-primary-lightened-10: #27277E;
--ic-brand-primary-lightened-15: #333385;
--ic-brand-button--primary-bgd-darkened-5: #0F0F6B;
--ic-brand-button--primary-bgd-darkened-15: #0D0D60;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #066FE1;
--ic-link-color-lightened-10: #1E88F9;
--ic-brand-primary: #0F0F70;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #067bf9;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0F0F70;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #0F0F70;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #E81818;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #0F0F70;
--ic-brand-header-image: url('https://myetl.snu.ac.kr/accounts/1/files/85/download?verifier=vuAbPVsDm9KmcqvDQX1LsjSQ2XIC576zwknouotd');
--ic-brand-mobile-global-nav-logo: url('https://myetl.snu.ac.kr/accounts/1/files/1107571/download?verifier=FyUTaN2ciQzGjSabKACaj58fAjXX33DusA7MAQqf');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://myetl.snu.ac.kr/accounts/1/files/199/download?verifier=BYmNxkPzXTN7TVrsSGSNZUg0ATlirAajgeJY4hQR');
--ic-brand-apple-touch-icon: url('/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }